* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    
}

html, body {
    height: 100%;
    width: 100vw;    
}

#map {
	
    height: 100%;
    width: 100vw;
}


form {z-index:9999; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input#m { padding: 10px; width: 85%; margin-right: .5%; border-style: solid;border-width: thin;}
form button#m_button { width: 14%; background: rgb(130, 224, 255); padding: 10px; border-radius: 2px; border: none;}

.icon-bar {
	z-index:9999;
	position:fixed;
	float:right;
	right: 5px;
	top:20%;
    width: 40px;
    background-color: #f0f0f0;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 4px;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
}

/*.icon-bar a:hover {
    background-color: #b4b4b4;
}*/

.active {
    background-color: #4CAF50;
}
